html {
    font-size: calc(100vw/1920);
}

body {
    height: 100vh;
    font-family: "HanYi";
    font-size: 20rem;
    color: #81989d;
    // overflow: hidden;

    background: url('/assets/image/bg2.png') no-repeat center/contain;
    background: url('/assets/image/bg.webp') no-repeat top/cover;

}

//? 外部容器
.container {
    width: 1450rem;
    height: 870rem;
    margin: 125rem auto 0;
    // background-color: #fff1;
}

//? 侧边栏
aside {
    width: 300rem;
    height: 100%;
    display: inline-block;
}

//* 用户信息展示框
aside .userinfo {
    width: 100%;
    height: 272rem;
    color: #bee1e7;

    .avatar {
        height: 192rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            opacity: .1;
            width: 100%;
            height: 100%;
            background: url("/assets/image/icon.webp") no-repeat center;
        }

        .avatar-img {
            width: 72rem;
            position: relative;
            cursor: pointer;

            img {
                border-radius: 50%;
                width: 100%;
            }

            &::after {
                content: "";
                display: block;
                background-image: url("/assets/image/badge.webp");
                background-size: contain;
                width: 30rem;
                height: 30rem;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }

    .wrap {
        height: 80rem;
        display: flex;
        border-top: none;

        &>div {
            height: 100%;
            width: 50%;
        }

        .fans {
            border-right: 3rem solid #2f3637;
        }

        .fans,
        .articles {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            letter-spacing: 1rem;

            div:nth-of-type(2) {
                color: #849ba1;
                font-size: 15rem;
                margin-top: 8rem;
            }
        }

    }
}

//* 话题分类列表
aside .category {
    font-size: 20rem;
    color: #81989d;

    li {
        &:extend(.border);
        margin: 25rem 0;
        position: relative;

        a {
            display: flex;
            height: 54rem;
            align-items: center;
        }

        i {
            font-size: 37rem;
            margin: 0 18rem 0 23rem;
        }

        span {
            margin-top: 1rem;

            &:not(.default)::after,
            &:not(.default)::before {
                content: "#";
            }
        }

        transition: all .3s;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            background-image: url("/assets/image/topic-bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right center;
            //线性透明度渐变,从左到右
            mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 1) 120%);
        }


        //选中效果 高亮+纹理
        &.active {
            border-color: #49d5dd !important;
            color: #61f0f3 !important;
            background-color: #1a5272 !important;

            &::after {
                opacity: .1 !important;
            }
        }



        &:hover:not(.active) {
            border-color: #49d5dd !important;
            background-color: #1a527220 !important;

        }
    }
}



//? 右侧文章列表
.art-list {
    display: inline-block;
    vertical-align: top;
    margin-left: 45rem;
    height: 100%;
    overflow: auto;
    padding-right: 14rem;
    scroll-behavior: smooth;

    // mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 1) 60%);


    &::-webkit-scrollbar {
        width: 4rem;
    }

    &::-webkit-scrollbar-track {
        background: #282b2e;
    }

    &::-webkit-scrollbar-thumb {
        background: #42a8b9;
    }

    li {
        &:extend(.border);
        transition: all .3s;

        &:hover {
            border-color: #90aaaf !important;
        }

        width: 1080rem;
        height: 260rem;
        padding: 18rem 20rem;
        position: relative;
        background-color: #ffffff05;
        margin-bottom: 17rem;
        display: flex;
        align-items: flex-end;
        cursor: pointer;

        .userinfo {
            height: 40rem;
            font-size: 20rem;
            color: #c1e4ea;
            display: flex;
            letter-spacing: .4rem;
            align-items: center;

            .avatar {
                width: 38rem;

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }

            .username {
                margin: 0 6rem;
            }

            .badge {
                width: 24rem;

                img {
                    width: 100%;
                }
            }

        }

        h3 {
            font-size: 26rem;
            line-height: 2;
            // margin-top: 5rem;
            color: #61f0f3;
        }

        .content {
            font-size: 20rem;
            line-height: 1.5;
            margin-top: 4rem;

            //设置两行后省略
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            .topic::after,
            .topic::before {
                content: "#";
            }

            .topic {
                color: #42a8b9;
            }
        }

        .btns {
            display: flex;
            margin-top: 32rem;

            i {
                font-size: 27rem;
            }

            .comment,
            .like {
                display: flex;
                align-items: center;
                margin-right: 62rem;

                span {
                    margin-left: 10rem;
                    margin-top: 3rem;
                }
            }
        }

        .cover {
            width: 300rem;
            height: 170rem;
            border: .5rem solid #fff2;
            box-sizing: border-box;
            flex: none;
            margin-left: 20rem;
            margin-bottom: 0rem;

            img {
                width: 100%;
            }
        }

        .time {
            text-align: right;
            margin-right: 5rem;
            font-size: 16rem;
            opacity: .8;
            margin-bottom: 20rem;
        }
    }
}

//? 文章弹出框
.modal {
    box-sizing: border-box;
    width: 1304rem;
    height: 773rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-left: 4rem solid #42a8b9;
    padding-right: 14rem;
    background-color: #0b0d13;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.283' height='40' patternTransform='scale(2) rotate(30)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M46.189-20L57.736 0M46.189 20l11.547 20m-46.189 0l11.547 20M11.547 0l11.547 20m40.415 30H40.415M28.868 30H5.774m23.094-40H5.774m57.735 20H40.415m0 20L28.868 50m11.547-60L28.868 10m46.188 0L63.509 30M5.774 10L-5.773 30m75.056 10H46.189L34.64 20 46.19 0h23.094C73.13 6.667 76.98 13.333 80.83 20zM57.736 60H34.64L23.094 40l11.547-20h23.095c3.848 6.667 7.698 13.333 11.547 20L57.736 60zm0-40H34.64L23.094 0l11.547-20h23.095L69.283 0c-3.87 6.7-8.118 14.06-11.547 20zM34.64 60H11.547L0 40l11.547-20h23.094L46.19 40 34.64 60zm0-40H11.547L0 0l11.547-20h23.094L46.19 0 34.64 20zM23.094 40H0l-5.773-10-5.774-10L0 0h23.094l11.547 20-11.547 20z' stroke-width='1' stroke='hsla(197, 40%, 14%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

    z-index: 2;
    display: flex;

    &>.cover {
        width: 773rem;
        height: 773rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        img {
            flex: none;
            max-width: 773rem;
            max-height: 773rem;
        }
    }

    &>.like {
        position: absolute;
        top: 50rem;
        left: 50rem;
        width: 58rem;
        height: 58rem;
        background-color: #ffffff10;
        border-radius: 50%;
        font-size: 18rem;
        text-shadow: 0 0 5rem #000;
        box-shadow: 5rem 5rem 2.5rem #0009;

        i {
            color: #ffffffaa;
            font-size: 28rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        i:nth-of-type(2) {
            color: #61f0f3;
            opacity: 0;
            transition: opacity .2s;
        }

        //TODO 触发时间后给元素加上active类,保持样式
        &:active i:nth-of-type(2) {
            opacity: 1;
        }

        &:active span:nth-of-type(1) {
            top: -50%;
            opacity: 0;
        }

        &:active span:nth-of-type(2) {
            top: 25% !important;
            opacity: 1 !important;
        }

        .like-wrap {
            color: #ffffffaa;
            position: absolute;
            left: 120%;
            top: 50%;
            transform: translateY(-50%);
            width: 100rem;
            height: 2em;

            span {
                display: block;
                height: 100%;
                position: absolute;
                top: 25%;
                opacity: 1;
                transition: all .2s;
            }

            span:nth-of-type(2) {
                top: 100%;
                opacity: 0;
            }

        }
    }

    .wrap {
        flex-direction: column;
        overflow: hidden;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 190%;
            height: 190%;
            z-index: -2;
            top: 50%;
            left: 50%;
            background: radial-gradient(rgba(35, 37, 46, .9) 10%, rgba(35, 37, 46, .9) 50%, rgba(38, 58, 69, .7)), radial-gradient(rgba(35, 37, 46, .9), rgba(38, 58, 69, 0));
            background-size: 130% 130%, 80%, 80%;
            background-position: -50% -50%, 50% 50%;
            animation: 10s rotate-07d08c95 linear infinite;
        }

        @keyframes rotate-07d08c95 {
            0% {
                transform: translate(-50%, -50%) rotate(0)
            }

            to {
                transform: translate(-50%, -50%) rotate(360deg)
            }
        }

        padding: 0 8rem 0 30rem;

        position: relative;
        z-index: 5;

        &::before {
            content: "";
            display: block;
            background: url("/assets/image/icon.webp") no-repeat;
            background-size: 350rem;
            background-position: center center;
            opacity: .05;
            z-index: -1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .scroll-wrap {
            height: 640rem;
            overflow: auto;
            padding-right: 20rem;
            padding-bottom: 20rem;

            &::-webkit-scrollbar {
                width: 4rem;
            }

            &::-webkit-scrollbar-track {
                background: #282b2e;
            }

            &::-webkit-scrollbar-thumb {
                background: #42a8b9;
            }
        }


        .top {
            display: flex;
            align-items: center;
            height: 90rem;

            .userinfo {
                display: flex;
                align-items: center;
                font-size: 20rem;
                color: #c1e4ea;

                .avatar {
                    margin-right: 9rem;
                    width: 40rem;
                    height: 40rem;

                    img {
                        border-radius: 50% !important;
                        width: 100%;
                    }
                }

                .username {
                    margin-top: 1rem;
                    margin-right: 5rem;
                }

                .badge {
                    margin-top: 3rem;
                    width: 24rem;

                    img {
                        width: 100%;
                    }
                }
            }

            button {
                border: none;
                background: none;
                cursor: pointer;
                position: absolute;
                top: 25rem;
                right: 30rem;
                width: 35rem;
                height: 37rem;


                &:hover div {
                    background-color: #f09c38;
                }

                &:active .line:nth-of-type(1) {
                    transform: rotate(45deg) translateX(5rem);
                }

                &:active .line:nth-of-type(2) {
                    transform: rotate(-45deg) translateX(-5rem);
                }

                &:active .line:nth-of-type(3) {
                    transform: rotate(45deg) translateX(-5rem);
                }

                &:active .line:nth-of-type(4) {
                    transform: rotate(-45deg) translateX(5rem);
                }

                .line {
                    transition: all .2s;
                    background-color: white;
                    position: absolute;
                    border-radius: 2rem;
                    width: 19rem;
                    height: 8%;

                    &:nth-of-type(1) {
                        top: 0;
                        left: 0;
                        transform-origin: left center;
                        transform: rotate(45deg);
                    }

                    &:nth-of-type(2) {
                        top: 0;
                        right: 0;
                        transform-origin: right center;
                        transform: rotate(-45deg);
                    }

                    &:nth-of-type(3) {
                        bottom: 0;
                        right: 0;
                        transform-origin: right center;
                        transform: rotate(45deg);
                    }

                    &:nth-of-type(4) {
                        bottom: 0;
                        left: 0;
                        transform-origin: left center;
                        transform: rotate(-45deg);
                    }

                }

                .point {
                    transition: all .5s;
                    width: 12%;
                    height: 12%;
                    border-radius: 50%;
                    background-color: white;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        h3 {
            color: #61f0f3;
            font-size: 26rem;
        }

    }

}

.modal .content-wrap {
    margin-top: 20rem;

    p {
        line-height: 1.5;
        //设置两行后省略
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        .topic {
            color: #42a8b9;

            &::before,
            &::after {
                content: "#";
            }
        }
    }

    .btn-read-more {
        cursor: pointer;
        border: none;
        background: none;
        color: #42a8b9;
        font-size: 19rem;
        display: block;
        width: 100%;
        text-align: right;
        border-bottom: 3px solid #3b434d;
        padding: 13rem 0 18rem;
    }
}

.modal .comment-wrap {
    font-size: 19rem;
    padding: 20rem 0 10rem;
    display: flex;
    justify-content: space-between;

    &:hover a {
        color: #42a8b9
    }

    a {
        display: inline-block;
        padding-left: 50rem;
        cursor: pointer;
    }
}

.modal .comment-list {
    li {
        padding: 15rem 0 10rem;

        &:not(:last-of-type) {
            border-bottom: 3px solid #393a42;
        }

        .userinfo {
            display: flex;
            align-items: center;
            color: #627179;

            .avatar {
                width: 38rem;
                margin-right: 8rem;

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }

        p {
            color: #8aa1a8;
            padding-left: 46rem;
            line-height: 1.2;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    z-index: 1;
}

.hidden {
    display: none;
}


















//! 工具类
//* 边框类,不知道为什么合并边框不好使
.border {
    border-collapse: collapse;
    border: 3rem solid rgba(255, 255, 255, .05);
    box-sizing: border-box;

}

//* 清除浮动
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

//* a标签重置样式
a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: HanYi;
    src: url('/assets/font/星穹铁道字体.ttf');
}